body,
html
{
    font-size: 1rem;
    line-height: 1.5rem;

    overflow-x: hidden;

    width: 100%;

    text-shadow: none;

    @include font-moothing;
    filter: none;

    // font-family: 'Open Sans', sans-serif;
}

*
{
    cursor: default;

    backface-visibility: hidden;
    &,
    &:before,
    &:after
    {
        box-sizing: border-box;
    }

    &:focus
    {
        outline: none;
    }
}

a
{
    text-decoration: none;

    color: inherit;
    outline: none;

    @include no-tap-highlight();

    &:focus,
    &:hover
    {
        text-decoration: none;

        outline: none;
    }
}

img
{
    display: inline-block;

    margin: 0;

    outline: 0;
}

/* Form elements */
label
{
    cursor: default;
    -webkit-user-select: none;
}
input
{
    -webkit-border-radius: 0;

    -webkit-appearance: none;
    @include no-tap-highlight();
}
input[type='text']
{
    font-family: inherit;

    border: none;
    outline: none;
    box-shadow: none;
}
button
{
    border: none;

    @include no-tap-highlight();
    @include appearance(none);

    &,
    & > *
    {
        cursor: pointer;
    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
    transition: background-color 5000s ease-in-out 0s;

    color: #000 !important;
    -webkit-box-shadow: 0 0 0 1000px #fff inset;

    -webkit-text-fill-color: #000;
}

/* Text selection colour */

@include selection()
{
    color: $col-white;
    background: $col-pink;
}
