// Colours
$light-grey-border: #EEEEEE;
$light-color: #AAAAAA;
$divider-color: #69306D;
$col-translation: #FFFFFF;

$col-facebook: #3C5A99;

$col-light: #FFFFFF;
$col-dark-blue: #173753;

$header-padding: 0.625rem;
