.add-button
{
    position: fixed;
    z-index: 1000;
    right: 1rem;
    bottom: 1rem;

    background: $col-green;

    @extend %round-button;

    &:before
    {
        top: -40%;
        left: -40%;

        width: 180%;
        height: 180%;

        border-radius: 100%;

        @extend %hitarea;
    }

    &:after
    {
        margin-top: -2px;

        background-image: url('/images/add.svg');

        @extend %icon;
    }
}

html:not(.is-touch)
{
    .add-button
    {
        @include link-hover(.3s);

        &:hover
        {
            @include transform(scale(1.1));
        }
    }
}
