.app-header {
  width: 100%;
  padding: 1rem;
  background: $col-dark-blue;
  color: $col-white;
  @include clearfix;
}

.app-header__left {
  padding-top: 0.1875rem;
  margin-right: 3.625rem;
}

.app-header__right {
  width: 2.625rem;
  float: right;
}
