.app-header
{
    position: fixed;
    z-index: 1000;

    width: 100%;
    padding: 1rem;

    user-select: none;

    color: $col-white;
    background: $col-dark-blue;

    @include clearfix;
}

.app-header__left
{
    margin-right: 3.625rem;
    padding-top: .1875rem;
}

.app-header__right
{
    float: right;

    width: 2.625rem;
}
