.login
{
    position: absolute;

    width: 100%;
    height: 100%;

    cursor: default;
    user-select: none;
}

.login__contents
{
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    text-align: center;

    justify-content: center;
    align-items: center;
}

.login__logo
{
    display: block;

    margin-bottom: 5rem;
}

.login__button
{
    position: relative;

    width: 3.5rem;
    height: 3.5rem;

    border-radius: 100%;
    background: $col-facebook-blue;

    @include link-hover(.75s);

    i
    {
        position: relative;
        left: 25%;

        display: block;
        overflow: hidden;

        width: 50%;
        height: 50%;

        text-indent: -100000px;

        background: url('/images/facebook.svg') 50% 50% no-repeat;
        background-size: contain;
    }

    &:hover
    {
        background: darken($col-facebook-blue, 10%);
    }
}

.login__copy
{
    font-size: .75rem;
    line-height: 1.125rem;

    margin-top: .5rem;
}
