.translations {
  position: relative;
  border-top: 1px solid $col-light-grey;
  border-bottom: 1px solid $col-light-grey;
  margin-bottom: 10rem;
}

.translations__message {
  text-align: center;
  padding: 0 $translation-padding;
}
.translations__emoji {
  font-weight: 700;
}

.translation {
  align-items: center;
  position: relative;
  display: flex;
  cursor: default;
  overflow: hidden;
  transition: background 0.3s ease-out;
  @include no-user-select;
  @include clearfix;

  &:not(:last-child) {
    border-bottom: 1px solid lighten($col-mid-grey, 25%);
  }

  &:last-child:after {
    height: 100%;
  }
}

/* Wrappers */
.translation__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  @include clearfix;
}
 .translation__wrapper--buttons {
   display: flex;
   align-items: center;
   background: lighten($col-mid-grey, 30%);
   z-index: 0;
 }
 .translation__wrapper--contents {
   position: relative;
   z-index: 1;
   background: $col-white;
   @include transform(translateZ(0));
 }
 .translation__wrapper--triggers {
   z-index: 2;
 }

 /* Triggers */
 .translation__trigger {
   content: "";
   display: inline-block;
   position: absolute;
   top: 0;
   width: 12%;
   max-width: 142px;
   height: 100%;
   cursor: pointer;
 }
 .translation__trigger--right {
   right: 0;
 }

/* Labels */
 .translation__expression,
 .translation__meaning {
   position: relative;
   display: inline-block;
   width: 50%;
   padding: 2rem;
 }
 .translation__expression {
   border-right: 1px solid $col-aubergine;
   padding-left: $translation-padding;
 }
 .translation__meaning {
   padding-right: $translation-padding;
 }

/* Buttons */
%icon {
  content: "";
  display: inline-block;
  position: relative;
  background-size: cover;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 0.875rem;
  height: 0.875rem;
}

.translation__button {
    position: absolute;
    width: 4rem;
    height: 4rem;
    padding: 0;
    overflow: hidden;
    background: $col-mid-grey;
    @include link-hover(0.3s);
}

.translation__button--delete {
   right: 0;

   &:after {
     @extend %icon;
     background-image: url("/images/cross.svg");
   }

   &:hover {
     background: darken($col-pink, 10%);
   }
}
.translation__button--edit {
   left: 0;

   &:after {
     @extend %icon;
     background-image: url("/images/edit.svg");
   }

   &:hover {
     background: darken($col-mid-blue, 10%);
   }
}

.translation--edit-active {
  .translation__button--edit {
    background: $col-mid-blue;
  }
}
.translation--delete-active {
  .translation__button--delete {
    background: $col-pink;
  }
}
