.user-bar {
  display: flex;
  justify-content: flex-end;
  padding-right: $header-padding;
  user-select: none;
  line-height: 2.625rem;
}

.user-bar__pic {
  display: inline-block;
  margin: 0;
  border-radius: 100%;
  width: 2.625rem;
  height: 2.625rem;
}

.user-bar__name {
  margin-right: 1rem;
}
.user-bar__logout {
  margin-left: 1rem;
  color: $col-white;

  &:hover {
    color: $col-white;
  }
}

@media screen and (max-width: 640px) {
  .user-bar__logout,
  .user-bar__name {
    display: none;
    visibility: hidden;
  }
}
