.user-bar
{
    user-select: none;
}

.user-bar__pic
{
    @extend %round-button;
}

.user-bar__name
{
    margin-right: 1rem;
}
.user-bar__logout
{
    margin-left: 1rem;

    color: $col-white;

    &:hover
    {
        color: $col-white;
    }
}

.user-bar__name,
.user-bar__logout
{
    display: none;
    visibility: hidden;
}
