// Colours
$col-white: #FFFFFF;
$col-white-grey: #EEEEEE;
$col-mid-grey: #AAAAAA;
$col-dark-blue: #173753;
$col-facebook-blue: #3C5A99;
$col-aubergine: #69306D;

// Measurements
$header-padding: 0.625rem;
