// Colours
$col-white: #FFFFFF;
$col-light-grey: #EEEEEE;
$col-mid-grey: #AAAAAA;
$col-mid-blue: #0074A6;
$col-dark-blue: #173753;
$col-facebook-blue: #3C5A99;
$col-pink: #D30C7B;
$col-aubergine: #69306D;

// Measurements
$header-padding: 0.625rem;
$translation-padding: 1rem;
